.button {
  display: block;
  width: 300px;
  padding: 20px 40px;
  background:
    url('/arrow-right-circle.svg') no-repeat right 20px center,
    #fff;
  border-radius: var(--border-radius);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  margin-top: 80px;
  border-top: 1px solid var(--color-border);
}
