.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
  overflow: hidden;
  color: #fff;
  background-color: rgb(0 0 0 / 50%);
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.description {
  text-align: center;
}

.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: right;
}

.news {
  position: relative;
  width: 840px;
  padding: 24px 40px;
  margin: -40px auto 0;
  background-color: #fff;
  border-radius: var(--border-radius);
}

.newsTitle {
  font-size: 1.5rem;
}

.newsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

.section {
  width: 920px;
  padding: 100px 0;
  margin: 0 auto;
}

.sectionTitleEn {
  font-size: 3rem;
  font-weight: bold;
}

.sectionTitleJa {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.sectionTitleJa::before {
  display: block;
  width: 40px;
  height: 1px;
  content: '';
  background-color: var(--color-text-main);
}

.sectionDescription {
  margin-bottom: 40px;
}

.horizontal {
  display: flex;
  gap: 80px;
  align-items: flex-start;
  justify-content: space-between;
}

.businessImg {
  width: 400px;
  height: auto;
  border-radius: var(--border-radius);
}

.button {
  display: block;
  width: 300px;
  padding: 20px 40px;
  color: var(--color-text-unpainted);
  background:
    url('/arrow-right.svg') no-repeat right 20px center,
    var(--color-button-primary);
  border-radius: var(--border-radius);
}

.aboutus {
  background-color: #fff;
}

.aboutusImg {
  width: 100%;
  height: auto;
  margin-left: -60%;
  border-radius: var(--border-radius);
}

.info {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-border);
}

.infoTitle {
  width: 100px;
  font-weight: bold;
}

.infoDescription {
  flex: 1;
}

.hiringImg {
  width: 480px;
  height: auto;
  border-radius: var(--border-radius);
}

@media (width <= 1000px) {
  .news {
    width: calc(100% - 160px);
  }

  .section {
    width: calc(100% - 80px);
  }
}

@media (width <= 640px) {
  .top {
    padding: 120px 16px;
  }

  .title {
    font-size: 2rem;
    text-align: left;
  }

  .description {
    font-size: 0.9rem;
    text-align: center;
    text-align: left;
  }

  .bgimg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 600px;
    object-fit: cover;
  }

  .news {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .newsLink {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }

  .section {
    width: 100%;
    padding: 80px 16px;
    margin: auto;
  }

  .sectionTitleEn {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .sectionTitleJa {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
  }

  .sectionTitleJa::before {
    display: block;
    width: 40px;
    height: 1px;
    content: '';
    background-color: var(--color-text-main);
  }

  .sectionDescription {
    margin-bottom: 40px;
  }

  .horizontal {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .businessImg {
    width: 100%;
    height: auto;
  }

  .aboutusImg {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .hiringImg {
    width: 100%;
    height: auto;
  }

  .button {
    display: block;
    width: 100%;
    padding: 16px 24px;
    color: var(--color-text-unpainted);
    background:
      url('/arrow-right.svg') no-repeat right 20px center,
      var(--color-button-primary);
    border-radius: var(--border-radius);
  }
}
