.list {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-bottom: 160px;
}

.list:nth-child(even) {
  flex-direction: row-reverse;
}

.logo {
  width: auto;
  height: 40px;
}

.image {
  width: 240px;
  height: auto;
  border-radius: var(--border-radius);
}

.flex {
  flex: 1;
}

.name {
  margin-bottom: 24px;
}

.description {
  font-size: 0.9rem;
}

.action {
  display: flex;
  margin-top: 40px;
}

.list:nth-child(even) .action {
  justify-content: flex-end;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-top: 40px;
  text-align: center;
  border-top: 1px solid var(--color-border);
}

.message {
  font-size: 2rem;
  font-weight: bold;
}

.empty {
  margin-bottom: 40px;
}

@media (width <= 640px) {
  .list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
    margin-bottom: 120px;
  }

  .list:nth-child(even) {
    flex-direction: column-reverse;
  }

  .name {
    text-align: center;
  }
}
